.form-chat {
    height: 100%;
    position: relative;
}
.header {
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    padding-top: 10px;
}
.name p {
     margin-bottom: 0 !important;   
     font-size: 20px;
}
.name {
    padding-left: 10px;
}
.content {
    position: absolute;
    overflow: auto;
    top: 60px;
    bottom: 50px;
    height: auto;
    overflow-x: hidden;
    width: 100%;
    background-color: darkseagreen;
}
.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
}
