.form-chat {
    height: 100%;
    position: relative;
}
.header {
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    padding-top: 10px;
}
.name p {
     margin-bottom: 0 !important;   
     font-size: 20px;
}
.name {
    padding-left: 10px;
}
.content {
    position: absolute;
    overflow: auto;
    top: 60px;
    bottom: 55px;
    height: auto;
    overflow-x: hidden;
    width: 100%;
    background-color: #145b68;
    border-radius: 10px;
    /* background-image: linear-gradient(to right, rgba(255,0,0,0), #133940); */
}
.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}
.chat_input {
    width: 100%;
}
.icon-sent {
    font-size: 30px;
    text-align: center;
    align-items: center;
}
.send_contend {
    position: absolute;
    bottom: 10px;
    right: 5px;
    max-width: 30%;
    border-radius: 5px;
    background-color: cyan;
}
