.form-chat {
    height: 100%;
}
.header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    padding-top: 10px;
}
.name p {
     margin-bottom: 0 !important;   
     font-size: 20px;
}
.name {
    padding-left: 10px;
}
.content {
    position: fixed;
    overflow: auto;
    top: 60px;
    bottom: 50px;
    height: auto;
    overflow-x: hidden;
    width: 100%;
    background-color: #145b68;
    /* background-image: linear-gradient(to right, rgba(255,0,0,0), #133940); */
}
.footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
}
.chat_input {
    width: 100%;
}
