.search-bar {
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

.fAvatar, .fName {
    display: inline;
}

.fAvatar {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.fName {
    margin-left: 10px;
}